[oh-my-zsh]
    hide-dirty = 1
[core]
    pager = less -F -X
    editor = vim
[user]
    name = "baptiste nehme"
    email = "baptiste.nehme@epita.fr"
[includeIf "gitdir/i:~/epita/"]
    path = .epita.gitconfig
[includeIf "gitdir/i:~/projects/"]
    path = .gyroskan.gitconfig
[pull]
	rebase = false
