alias sshgyroskan="ssh gyroskan@ssh.gyroskan.com"
alias cdgo="cd ~/go/src/github.com/gyroskan/"
alias pytest="pytest -v"
alias screenshot="import png:- | xclip -selection clipboard -t image/png"
alias luminosity="xrandr --output eDP --brightness" 
alias monitor2="xrandr --output HDMI-A-0 --mode 1920x1080 --right-of eDP"
alias ccompil="gcc -Wall -Wextra -Werror -std=c99 -pedantic"
alias ccompiltest="gcc -Wall -Wextra -Werror -std=c99 -pedantic -lcriterion"
alias ltags="git tag --list --sort=-creatordate -n2"
alias mathieulebg="echo \"c'est vrai\""
